addict==2.4.0
apex==0.1
astroid==2.9.3
certifi==2021.10.8
charset-normalizer==2.0.12
cycler==0.11.0
decord==0.6.0
fonttools==4.31.2
graphviz==0.19.1
idna==3.3
isort==5.10.1
joblib==1.1.0
kiwisolver==1.4.0
lazy-object-proxy==1.7.1
matplotlib==3.5.1
mccabe==0.6.1
mmcv-full==1.5.0
numpy==1.22.3
opencv-python==4.5.5.64
packaging==21.3
pandas==1.4.1
Pillow-SIMD==9.0.0.post1
platformdirs==2.5.1
psutil==5.9.0
pylint==2.12.2
Pympler==1.0.1
pyparsing==3.0.7
python-dateutil==2.8.2
pytz==2021.3
PyYAML==6.0
requests==2.27.1
six==1.16.0
threadpoolctl==3.1.0
toml==0.10.2
torch==1.11.0+cu113
torchaudio==0.11.0+cu113
torchvision==0.12.0+cu113
tqdm==4.63.1
typing_extensions==4.1.1
urllib3==1.26.8
wrapt==1.13.3
yapf==0.32.0
spatial-correlation-sampler==0.3.0