torch
opencv-python
tqdm
regex
ftfy
torchvision
torchaudio
num2words
einops
scikit-learn
Pillow
ffmpy
addict
numpy
pyyaml
regex
rich
termcolor
yapf
tensorboard
packaging
decord
prettytable
pandas
onnx
onnxruntime
cuda-python
tensorrt